USE [master]
GO
/****** Object:  Database [db_sales_tshirt_webapp]    Script Date: 08/02/2024 11:51:59 AM ******/
CREATE DATABASE [db_sales_tshirt_webapp]
GO

USE [db_sales_tshirt_webapp]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[color]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[color](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__color__3214EC277CD5B85E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[phone_number] [varchar](255) NOT NULL,
	[account_id] [int] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__customer__3214EC27886203F4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[staff_id] [int] NULL,
	[date_of_purchase] [date] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__order__3214EC27EA23F87C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_detail]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NOT NULL,
	[product_detail_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[create_at] [datetime] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__order_detail__3214EC278F14FF91] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__product__3214EC275BEEB21E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_detail]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[color_id] [int] NULL,
	[size_id] [int] NULL,
	[product_id] [int] NOT NULL,
	[code] [varchar](255) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__product_detail__3214EC27D0B4303A] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__size__3214EC272A187BEF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff]    Script Date: 08/02/2024 11:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[code] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[account_id] [int] NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__staff__3214EC27943DC82C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([id], [username], [password], [role], [status]) VALUES (1, N'hayes7@gmail.com', N'$2a$10$TCye5dQtnACB.1.2cT.DDeMa77fnANO.Aa3nVMsgSFJeleoxNqrhK', N'MANAGER', 1);
INSERT [dbo].[accounts] ([id], [username], [password], [role], [status]) VALUES (2, N'hokyaulo11@outlook.com', N'$2a$10$TCye5dQtnACB.1.2cT.DDeMa77fnANO.Aa3nVMsgSFJeleoxNqrhK', N'MANAGER', 1);
INSERT [dbo].[accounts] ([id], [username], [password], [role], [status]) VALUES (3, N'fuji@gmail.com', N'$2a$10$TCye5dQtnACB.1.2cT.DDeMa77fnANO.Aa3nVMsgSFJeleoxNqrhK', N'MANAGER', 1);
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[color] ON 

INSERT [dbo].[color] ([id], [code], [name], [status]) VALUES (1, N'FSI478', N'Gray', 1)
INSERT [dbo].[color] ([id], [code], [name], [status]) VALUES (2, N'BBY357', N'Salmon', 1)
INSERT [dbo].[color] ([id], [code], [name], [status]) VALUES (3, N'VOX834', N'Silver', 1)
SET IDENTITY_INSERT [dbo].[color] OFF
GO
SET IDENTITY_INSERT [dbo].[customer] ON 

INSERT [dbo].[customer] ([id], [code], [name], [phone_number], [account_id], [status]) VALUES (1, N'LP11935', N'Deng Jialun', N'0966374181', NULL, 0)
INSERT [dbo].[customer] ([id], [code], [name], [phone_number], [account_id], [status]) VALUES (2, N'CH49552', N'Fujita Mio', N'0996963664', NULL, 0)
INSERT [dbo].[customer] ([id], [code], [name], [phone_number], [account_id], [status]) VALUES (3, N'QC04206', N'Lu Lan', N'0982197557', NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[customer] OFF
GO
SET IDENTITY_INSERT [dbo].[bill] ON

INSERT [dbo].[bill] ([id], [customer_id], [staff_id], [date_of_purchase], [status]) VALUES (1, 22, 30, CAST(N'2022-01-15' AS Date), 1)
INSERT [dbo].[bill] ([id], [customer_id], [staff_id], [date_of_purchase], [status]) VALUES (2, 22, 27, CAST(N'2023-04-15' AS Date), 1)
INSERT [dbo].[bill] ([id], [customer_id], [staff_id], [date_of_purchase], [status]) VALUES (3, 79, 8, CAST(N'2021-05-27' AS Date), 1)
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].bill_detail ON

INSERT [dbo].bill_detail ([id], bill_id, [product_detail_id], [quantity], [price], [create_at], [status])VALUES (1, 2, 651, 2, 309664, CAST(N'2021-12-31T06:58:03.000' AS DateTime), 1)
INSERT [dbo].bill_detail ([id], bill_id, [product_detail_id], [quantity], [price], [create_at], [status])VALUES (2, 31, 257, 2, 682119, CAST(N'2021-09-28T17:32:16.000' AS DateTime), 0)
INSERT [dbo].bill_detail ([id], bill_id, [product_detail_id], [quantity], [price], [create_at], [status])VALUES (4, 19, 108, 9, 840112, CAST(N'2021-08-27T14:34:32.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].bill_detail OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([id], [code], [name], [status]) VALUES (1, N'KCQIO4UP6Z', N'Kiwi', 0)
INSERT [dbo].[product] ([id], [code], [name], [status]) VALUES (2, N'ICO81ULZEX', N'Raspderry', 0)
INSERT [dbo].[product] ([id], [code], [name], [status]) VALUES (3, N'BZRYMA70WX', N'Grape', 0)
GO
SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_detail] ON 

INSERT [dbo].[product_detail] ([id], [color_id], [size_id], [product_id], [code], [quantity], [price], [status]) VALUES (1, 16, 4, 35, N'EC3AY4GOZH', 57, 597555, 0)
INSERT [dbo].[product_detail] ([id], [color_id], [size_id], [product_id], [code], [quantity], [price], [status]) VALUES (2, 10, 2, 99, N'158Q34I2WW', 89, 693015, 1)
INSERT [dbo].[product_detail] ([id], [color_id], [size_id], [product_id], [code], [quantity], [price], [status]) VALUES (3, 8, 2, 59, N'OPMV0W67U8', 62, 893106, 1)
GO
SET IDENTITY_INSERT [dbo].[product_detail] OFF
GO
INSERT [dbo].[roles] ([name]) VALUES (N'ADMIN')
INSERT [dbo].[roles] ([name]) VALUES (N'MANAGER')
INSERT [dbo].[roles] ([name]) VALUES (N'USER')
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([id], [code], [name], [status]) VALUES (1, N'JQY121', N'L', 0)
INSERT [dbo].[size] ([id], [code], [name], [status]) VALUES (2, N'QMN828', N'S', 0)
INSERT [dbo].[size] ([id], [code], [name], [status]) VALUES (3, N'YWC986', N'XS', 1)
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET IDENTITY_INSERT [dbo].[staff] ON 

INSERT [dbo].[staff] ([id], [name], [code], [email], [account_id], [status]) VALUES (1, N'Admin', N'AD00000', N'admin@gmail.com', 51, 1)
INSERT [dbo].[staff] ([id], [name], [code], [email], [account_id], [status]) VALUES (2, N'Jesse Hayes', N'YD22074', N'hayes7@gmail.com', 1, 1)
INSERT [dbo].[staff] ([id], [name], [code], [email], [account_id], [status]) VALUES (3, N'Lo Hok Yau', N'NF76341', N'hokyaulo11@outlook.com', 2, 1)
SET IDENTITY_INSERT [dbo].[staff] OFF
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ('USER') FOR [role]
GO
ALTER TABLE [dbo].[accounts] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[color] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT (NULL) FOR [account_id]
GO
ALTER TABLE [dbo].[customer] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[bill] ADD  CONSTRAINT DF__bill__2A4B4B5E  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[bill_detail] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[product_detail] ADD  DEFAULT ((0)) FOR [quantity]
GO
ALTER TABLE [dbo].[product_detail] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[product_detail] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[size] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT (NULL) FOR [account_id]
GO
ALTER TABLE [dbo].[staff] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[accounts]  WITH CHECK ADD CHECK  (([role]='USER' OR [role]='MANAGER' OR [role]='ADMIN'))
GO

USE [master]
GO
